// @import './helpers/reset.scss';
@import './general/base.scss';
@import './general/typography.scss';
@import './general/variable.scss';
@import './components/button.scss';
@import './components/line.scss';
// @import './components/img_container.scss';

//about

.main__about {
    display: flex;
    flex-direction: column;
}

//our_team

.main__header-line {
    width: 72px;
}
.our__team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 37px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.247);
    @media screen and (max-width: 768px){
        display: block;
        margin: 0 auto;
    }

    p {
        font-weight: 400;
        margin-top: 0;
        @media screen and (max-width: 768px){
            margin-top: 20px;
        }
    }
    img{
        margin-right: 40px;
        border-radius:8px;
        @media screen and (max-width: 768px) {
            display: block;
            margin: 0 auto;
        }
    }
}
.our__team_description-list {
    padding: 20px;
    background-color: #EEEEEE;
    border-radius: 8px;

    ul {
        padding-left: 20px;
    }
}

//our__job

.our__job {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 37px;
    @media screen and (max-width: 768px){
        display: block;
    }
}
.our__job_about {
    background-color: $primary;
    border-radius: 8px;
    margin-right: 40px;

    p {
        font-weight: 500;
        color: white;
    }
    h2{
        color: white;
        margin: 24px 0 0 30px;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }
    section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 579px;
        height: 336px;
    }
    article {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items:center;
        margin-left: 30px;
    }
    span {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        background-color: white;
        text-align: center;
        align-items:center;
        border-radius: 50%;
    
        p {
            text-align: center;
            margin-top: 6px;
            font-size: 18px;
            color: $primary;
        }
    }

    @media screen and (max-width: 768px){
        margin: 20px 0;
        padding: 10px 0;
    }
}
.our__job_description-line {
    width: 272px;
    margin: 26px 0;
}
.our__job_description h2 {
    margin-top: 0;
}

//documentation

.main__documentation h2 {
    border-top: 1px solid rgba(0, 0, 0, 0.247);
    margin: 0;
    padding-top: 10px;
}
.main__documentation-line {
    width: 99px;
}
.main__documentation_files {
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.main__documentation_files-pdf {
    display: flex;
    margin: 15px 15px 15px 0;

    p {
        font-weight: 500;
        padding-left: 10px;
    }
}

// Price

.main__price h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.247);
    margin: 0;
    padding: 20px 0 10px 0;
}
.main__price-line {
    width: 99px;
}
.main__price_files-exl {
    display: flex;
    justify-content: space-between;
    width: 11%;
    margin: 15px 15px 15px 0;
}

//main_job

.main__job h1 {
    padding-top: 20px;
}
.main__job-line {
    width: 72px;
}
.main__job_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 37px;
    @media screen and (max-width: 768px){
        display: block;
        margin: 0 auto;
    }
}
.main__job_content-description {
    border-top: 1px solid rgba(0, 0, 0, 0.247);
    padding-top: 20px;

    img {
        margin-left: 40px;
        width: 579px;
        height: 437px;
        background-color: #EAF0FE;
        border-radius:8px;
    }
}
.description-list {
    padding: 20px;
    background-color: #EEEEEE;
    border-radius: 8px;

    ul {
        padding-left: 20px;
    }
}

//slider_brand

.main__brands-line {
    width: 99px;
}
.slider__brands-container {
    display: flex;
    align-items: center;
    position: relative;
}
.arrow__left {
    position: absolute;
    left: 0px;
    background-color: white;
    background-color: #E5E5E5;
    img {
        background-color: white;
    }
}
.arrow__right {
    position: absolute;
    right: 7px;
    background-color: #E5E5E5;
    img {
        background-color: white;
    }
}
.slider__brands {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    height: 470px;
}
.slider_brand {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.247);
    width: 241px;
    height: 235px;
}


//AGREEMENT

.agreement-line {
    width: 100px;
    margin-top: 10px;
}
.how__it_use-tittle {
    border-top: 1px solid rgba(0, 0, 0, 0.247);
}
.how__it_use-list ul li {
    color: $primary;
    list-style-type: disc;

        span {
        color: black;
        }
}

//VACANCY

//header 

.vacancy__header-line  {
    width: 72px;
}
.vacancy__about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 37px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.247);

    p {
        font-weight: 400;
        margin-top: 0;
    }
    img{
        margin-right: 40px;
        width: 579px;
        height: 437px;
        background-color: #EAF0FE;
        border-radius:8px;
    }
}
.vacancy__description-line {
    width: 272px;
}

//guarantees

.guarantees {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1280px;
    height: 244px;
    background-color: $primary;

        h1 {
            color:white;
        }
}
.guarantees-line {
    width: 95px;
}
.guarantees__container {
    display: flex;
    margin-top: 20px;   
}
.guarantees__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 20px;

    p {
        color: white;
    }

    img {
        padding-right: 20px;
        border-radius:8px;
    }
}

//find__vacantion

.find__vacantion-line {
    width: 99px;
}
.find__vacantion_content {
    border-top: 1px solid rgba(0, 0, 0, 0.247);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 20px;
}
.find__vacantion_content-left {
    width: 579px;
    height: 119px;
    background-color: #EEEEEE; 
    padding-left: 30px ;
    border-radius: 8px;

    ul {
        padding-left: 20px;
    }

    li {
        color: $primary;
        list-style-type: disc;
        
            span {
            color: black;
            }
    }
}
.find__vacantion_content-right {
    width: 579px;
    height: 119px;
    margin-left: 20px;

    p {
        margin: 0;
        font-weight: 500;
    }
}

//SERVICE

// header

.service__header-line  {
    width: 72px;
}
.service__header h2 {
    margin: 5px 0;
}
.service__about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 37px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.247);

    p {
        font-weight: 400;
        margin-top: 0;
    }
    img{
        margin-right: 40px;
        width: 579px;
        height: 437px;
        background-color: #EAF0FE;
        border-radius:8px;
    }
}
.service__description-list {
    background-color: $line;
    padding: 20px;
    border-radius: 8px;
    color: white;

    h2 {
        color: white;
    }
    ol {
        margin: 0;
        padding: 10px 20px ;

        li {
            font-weight: 400;
            font-size: 14px;
        }
    }
}

//purchase

.purchase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1280px;
    height: 244px;
    background-color: $primary;

        h1 {
            color:white;
        }
}
.purchase-line {
    width: 95px;
}
.purchase__container {
    display: flex;
    margin-top: 20px;   
}
.purchase__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 20px 0 20px;

    p {
        color: white;
    }

    img {
        padding-right: 20px;
        border-radius:8px;
    }
}

//warranty__repair

.warranty__repair {

    h1 {
    padding-top: 20px;
    }
    p {
        margin: 0;
    }
}
.warranty__repair-line {
    width: 72px;
}
.warranty__repair_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 37px;
}

.warranty__repair_about {
    border-radius: 8px;
    margin-right: 40px;

    article {
        position: relative;
        margin-top: 10px;
    }
    span {
        position: absolute;
        line-height: 30px;
        width: 30px;
        height: 30px;
        background-color: $primary;
        text-align: center;
        border-radius: 50%;
        font-size: 14px;
        color: white;
    }
    p {
        font-weight: 500;
        margin-left: 40px;
    }
}
 
.warranty__repair_content-description {
    border-top: 1px solid rgba(0, 0, 0, 0.247);
    padding-top: 20px;

    img {
        width: 579px;
        height: 437px;
        background-color: #EAF0FE;
        border-radius:8px;
        padding-right: 20px;
    }
}

//SERVICES

.services__line {
    width: 99px;
}
.services__content {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.247);
    padding-top: 30px;
}
.services__description {
    flex-basis: 50%;
    margin-right: 30px;
    
    p {
        margin: 0;
    }
    ul {
        padding-left: 20px;
    }
    li {
        color: $primary;
        list-style-type: disc;
        margin-top: 10px;
        
            span {
            color: black;
            }
    }
}
.services__tabs {
    display: flex;
    flex-wrap: wrap;

    .services__tab {
        margin-right: 20px;
        position: relative;

        p {
            position: absolute;
            top: 0;
            left: 10px;
            font-weight: 700;
            font-size: 30px;
            color: #333333;
            opacity: 0.2;
        }
        h2 {
            position: absolute;
            bottom: 10px;
            left: 15px;
        }
    }
}

//SERVICES2

.services2__line {
    width: 99px;
}
.services2__content {
    border-top: 1px solid rgba(0, 0, 0, 0.247);
    padding-top: 30px;
}

// COOPERATION

.cooperation__header-line  {
    width: 72px;
}
.cooperation__about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 37px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.247);

    p {
        font-weight: 400;
        margin-top: 0;
    }
    img{
        margin-right: 40px;
        width: 579px;
        height: 437px;
        background-color: #EAF0FE;
        border-radius:8px;
        padding: 40px;
    }
}
.cooperation__description-line {
    width: 272px;
}

//recommend

.recommend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1280px;
    height: 244px;
    background-color: $primary;

        h1 {
            color:white;
        }
}
.recommend-line {
    width: 95px;
}
.recommend__container {
    display: flex;
    margin-top: 20px;   
}
.recommend__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 20px 0 20px;

    p {
        color: white;
    }

    img {
        padding-right: 20px;
        border-radius:8px;
    }
}

//forms
.offer__cooperation-form {
    padding-top: 20px;
}
form {
        width: 639px;
        margin: 0 auto;
        border: 1px solid rgba(0, 0, 0, 0.247);
        border-radius: 8px;
        margin-top: 30px;
        padding: 10px 20px;
}

.form__change_mail {
    border-top: 10px solid rgba(31, 86, 206, 1);
    position: relative;
    padding-bottom: 40px;

    h1 {
        font-weight: 500;
        margin-top: 0;
    }
    .mail {
        position: absolute;
        left: 55px;
        bottom: 52px;
        font-weight: 700;
        font-size: 14px;
        color: rgba(96, 99, 103, 1);
    }
    p {
        position: absolute;
        left: 55px;
        bottom: 20px;
        color: $primary;
    }
    span {
        position: absolute;
        color: $line;
        top: 10px;
        right: -60px;
    }   
}
.form__answear {
    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        margin-top: 5px;
    }
    span {
        color: $line;
    }
    input {
        margin: 0;
    }
}
.form__question p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-top: 5px;

span {
    color: $line;
}
}
input[type="text"] {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.247);
    width: 294px;
    background-color: #E5E5E5;
}

//CONTACTS

.contacts h1 {
    padding-top: 20px;
}
.contacts-line {
    width: 72px;
}
.contacts_content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 37px;
}
.contacts_content-description {
    border-top: 1px solid rgba(0, 0, 0, 0.247);
    padding-top: 20px;

    img {
        margin: 20px 0 0 40px;
        width: 890px;
        height: 452px;
        border-radius:8px;
    }
}
.contacts_content-description {
    padding: 0;
    ul {
        padding-left: 25px;
    }
}

//DELIVERY

.delivery__line {
    width: 99px;
}
.delivery__box {
    margin: 0 -10px;
}
.delivery__contents-tabs {
    display: flex;
    border-top: 1px solid rgba(226, 226, 226, 1);
}
.delivery__content-tab {
    width: 380px;
    height: 274px;
    background-color: white;
    margin: 20px 20px 10px 0;
    padding: 20px 20px;
    border-radius: 8px;
}
.delivery__contents-regions {
    display: flex;
}
.delivery__content-region {
    width: 380px;
    height: 274px;
    margin: 20px 20px 10px 0;
    padding: 20px 20px;
    border-radius: 8px;
    
    span p {
        margin-top: -15px;
    }
}
.delivery__region {
    background-color: #E5E5E5;
    height: auto;
}

// payment

.payment__header {
    padding-top: 0;
    h1 {
        margin-top: 0;
    }
}
.payment__line {
    width: 99px;
}
.payment__contents {
    border-top: 1px solid rgba(226, 226, 226, 1);
    display: flex;
    flex-wrap: wrap;
}
.payment__content {
    margin: 0 10px 10px 0;

    h2 {
        position: relative;
        left: 150px;
        top: 75px;
        z-index: 1;
    }
}
.payment__content2 {
    margin: 0 10px 10px 0;

    h2 {
        position: relative;
        left: 80px;
        top: 50px;
        z-index: 1;
    }
}

//BLOG
.blog__line {
    width: 99px;
}
.blog__box {
    border-top: 1px solid rgba(0, 0, 0, 0.247);
}
.blog__contents {
    display: flex;
    flex-wrap: wrap;
    margin: 20px -10px;
}
.blog__content {
    margin: 10px;

    img {
        width: 380px;
        height: 200px;
    }
    p {
        width: 380px;
    }
}

//BLOG2

.blog__checkbox-box {
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
    max-width: 1140px;
    height: 204px;
    position: relative;
}
.blog__checkbox {
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}
.checkbox__content {
    width: 380px;
    height: 30px;

    input[type=checkbox] {
        border: none;
    }
    input[type=submit] {
        position: absolute;
        border: none;
        background-color: white;
        padding: 0;
        border-bottom:1px solid rgba(0, 0, 0, 0.247);
        right: 20px;
        bottom: 20px;
    }
}
.blog2__nav-box {
    display: flex;
    justify-content: center;
    align-content:center;
 
    .page__number {
        margin-right: 10px;
        width: 40px;
        height: 40px;
        text-align: center;
        position: relative;
        background-color: #EAF0FE;
        border-radius: 8px;
        
        p {
            margin: 0;
            font-weight: 700;
            font-size: 18px;
            position: absolute;
            top:50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
    }
    .blog__page_active {
        background-color: $primary;
    
        p {
            color: white;
        }
    }
}

//AIRCONDITION

.aircondition__box {
    margin: 0 auto;
    width: 788px;
}
.aircondition__box_contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
}
.aircondition__box_content {
    width: 380px;
    margin: 10px;
  
    h2 {
        color: black;
        font-size: 18px;
    }
}
.aircondition__box_about h2 {
    color: black;
    font-size: 22px;
}
.aircondition__box_plus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.247);

    h2 {
        color: black;
        font-size: 22px;
    }
}
.aircondition__box_footer span {
    font-style: italic;
    font-weight: 700;
}