// @import './helpers/reset.scss';
@import './general/base.scss';
@import './general/typography.scss';
@import './general/variable.scss';
@import './components/button.scss';

#information-information {
    max-width: none;

    #content {
        padding: 0;
    }
}

.v1 {
    //About page
    &-about {
        .v1 {
            &-row {
                justify-content: space-between;
                align-items: flex-start;
                padding-bottom: 15px;
            }
            &-col {
                flex-direction: column;
                margin-bottom: 45px;

                @media screen and (max-width: 768px) {
                    margin-bottom: 15px;
                }
            }
            &-img {
                span {
                    position: absolute;
                    top: 5%;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    text-align: center;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 44px;
                    color: #1F56CE;

                    @media screen and (max-width: 1024px) {
                        font-size: 30px;
                        line-height: 40px;
                    }

                    @media screen and (max-width: 768px) {
                        font-size: 20px;
                        line-height: 24px;
                    }

                    @media screen and (max-width: 682px) {
                        font-size: 36px;
                        line-height: 44px;
                    }

                    @media screen and (max-width: 560px) {
                        font-size: 30px;
                        line-height: 40px;
                    }

                    @media screen and (max-width: 414px) {
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
            }
        }
        //our_team
        .our__team {
            p {
                font-weight: 400;
                margin-top: 0;
            }

            h2 {
                margin: 0 0 9px;
            }

            ul {
                margin: 0;
                padding-left: 20px;
                list-style: none;
            }

            li:before {
                content: "\2022";
                color: $primary;
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
            }

            &_description {
                &-title {
                    margin-bottom: 27px;
                }
                &-list {
                    padding: 20px;
                    background-color: #EEEEEE;
                    border-radius: 8px;
                }
            }
        }
        //our__job
        .our__job {
            &_about {
                p {
                    margin: 0;
                    font-weight: 500;
                    color: white;
                }

                h2 {
                    padding-bottom: 11px;
                    margin: 0 0 11px 0;
                    color: white;

                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29px;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                }

                li {
                    position: relative;
                    display: flex;
                    align-items: center;
                    min-height: 30px;
                    padding-left: 40px;
                    margin-bottom: 15px;

                    span {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        margin: auto;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: white;
                        text-align: center;
                        line-height: 30px;
                        font-size: 18px;
                        font-weight: 700;
                        color: $primary;
                    }
                }

                &--content {
                    width: 100%;
                    padding: 30px;
                    border-radius: 8px;
                    background-color: $primary;
                    box-sizing: border-box;
                }
            }

            &_description {
                h2 {
                    margin: 0 0 7px;
                }
                p {
                    margin: 0;
                }

                .light_line {
                    width: 50%;
                    margin: 24px 0;
                }

                &-footer {
                    p {
                        margin-bottom: 16px;
                    }
                }
            }
        }
        //documentation
        &--documentation,
        &--price {
            padding-bottom: 45px;

            @media screen and (max-width: 768px) {
                padding-bottom: 15px;
            }
            h1 {
                margin: 0 0 24px;
            }
            h2 {
                margin: 0;
            }
            p {
                margin: 0 0 33px;
            }
        }
        //main_job
        &--job {
            h1 {
                margin-bottom: 38px;
            }
            p {
                text-align: left;
                margin: 0 0 15px;
            }
            a {
                @media screen and (max-width: 768px) {
                    display: flex;
                }
            }
            .v1 {
                &-row {
                    justify-content: space-between;
                    align-items: flex-start;
                    padding-bottom: 45px;

                    @media screen and (max-width: 768px) {
                        flex-direction: column-reverse;
                        padding-bottom: 15px;
                    }
                }
                &-col {
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 15px;
                }
                &-img {
                    padding: 20px;
                    background-color: #EAF0FE;
                    border-radius: 8px;

                    img {
                        display: block;
                        max-width: 402px;
                        margin: 0 auto;
                    }
                }
            }
            .description {
                &-title {
                    width: 100%;
                    margin-bottom: 20px;
                }
                &-list {
                    width: 100%;
                    padding: 20px;
                    background-color: #EEEEEE;
                    border-radius: 8px;
                    box-sizing: border-box;

                    ul {
                        padding-left: 20px;
                    }
                }
            }
        }
        //brands
        &--brands {
            h1 {
                margin-bottom: 22px;
            }

            &--list {
                position: relative;
                display: flex;
                justify-content: center;
                width: 100%;
                padding: 0;
                box-sizing: border-box;
            }

            li {
                display: flex !important;
                justify-content: center;
                align-items: center;
                height: 100%;
                padding: 15px;
                background-color: #FFFFFF;
                box-sizing: border-box;

                img {
                    display: flex;
                    width: 100%;
                    height: auto;
                    margin: auto;
                }
            }

            .slick {
                &-list {
                    display: flex;
                    padding: 0;
                    margin: 0;
                    overflow: hidden;
                    box-sizing: border-box;
                    border: 1px solid #C4C4C4;
                    border-radius: 8px;
                }
                &-track {
                    position: relative;
                    top: 0;
                    left: 0;
                    margin-left: auto;
                    margin-right: auto;
                    display: flex;
                    box-sizing: border-box;
                }
                &-slide {
                    div {
                        height: 100%;
                        max-height: 50%;

                        &:first-child {
                            li {
                                border-bottom: 1px solid #C4C4C4;
                                border-right: 1px solid #C4C4C4;
                            }
                        }

                        &:last-child {
                            li {
                                border-right: 1px solid #C4C4C4;
                            }
                        }
                    }
                }
                &-arrow {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    bottom: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 35px;
                    height: 35px;
                    margin: auto;
                    border: 1px solid #C4C4C4;
                    background: #FFFFFF;
                    outline: none;
                    box-shadow: none;
                    box-sizing: border-box;
                    cursor: pointer;
                }
                &-next {
                    right: 0;
                    border-radius: 8px 0 0 8px;
                }
                &-prev {
                    left: 0;
                    border-radius: 0 8px 8px 0;
                }
            }
        }
    }

    //Policy page
    &-policy {
        .v1 {
            &-col {
                flex-direction: column;
                margin-bottom: 40px;
            }
            &-title {
                margin-bottom: 36px;
            }
        }
        li {
            font-size: 14px;
            line-height: 17px;
        }
    }

    //Vacancy page
    &-vacancy {
        padding-bottom: 15px;

        h1 {
            margin: 0 0 38px;
        }
        h2 {
            margin: 0 0 7px;
        }
        p {
            margin: 0;
        }

        .light_line {
            width: 272px;
            margin: 36px 0;
        }

        .v1 {
            &-col {
                margin-bottom: 45px;
            }
            &-img {
                padding: 20px;
            }
        }

        &--content {
            p {
                margin-bottom: 15px;
            }
        }
    }

    //Service Page
    &-service {
        h2 {
            margin: 0 0 9px;
        }
        p {
            margin: 0 0 15px;
        }

        .v1 {
            &-col {
                flex-direction: column;
                margin-bottom: 15px;
            }
            &-fullscreen {
                margin-bottom: 65px;

                h1 {
                    position: relative;
                    padding-bottom: 20px;
                    margin: 0 0 40px;

                    &:before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 50%;
                        height: 1px;
                        background-color: #DA6D40;
                    }
                }
            }
        }

        &--guarantee {
            .v1 {
                &-row {
                    padding-bottom: 45px;
                }

                &-img {
                    padding: 25px;
                }
            }

            .guarantee {
                &--content {
                    margin-bottom: 10px;
                }
            }
        }
        &--repair{
            h1 {
                margin-bottom: 35px;
            }

            .v1 {
                &-row {
                    &:last-of-type {
                        padding-bottom: 45px;
                    }

                    @media screen and (max-width: 768px) {
                        flex-direction: row-reverse;
                    }
                    @media screen and (max-width: 595px) {
                        flex-direction: column-reverse;
                    }
                }

                &-img {
                    padding: 30px;
                }
            }
        }
    }

    //Services Page
    &-services {
        p {
            margin: 0 0 15px;
        }

        .v1 {
            &-row {
                padding-bottom: 45px;
            }
            &-col {
                margin-bottom:  15px;
                &:first-of-type {
                    flex: 30%;
                }
                &:last-of-type {
                    flex: 70%;
                }
            }
            &-list {
                padding-left: 15px;
            }
        }

        &--list {
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                padding: 0;
                margin: 0 -15px;
                list-style: none;
                counter-reset: number;

                @media screen and (max-width: 768px) {
                    justify-content: center;
                }
            }
            li {
                width: 100%;
                max-width: 280px;
                padding: 0 15px 30px;
                box-sizing: border-box;
                counter-increment: number;

            }
            a {
                position: relative;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 203px;
                padding: 20px;
                background: #EEEEEE;
                border-radius: 8px;
                text-decoration: none;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: $primary;
                box-sizing: border-box;
                cursor: pointer;

                &:before {
                    content: '0' counter(number);
                    position: absolute;
                    top: 12px;
                    left: 20px;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 37px;
                    color: rgba(51, 51, 51, 0.2);
                }

                &:hover {
                    span {
                        &:before {
                            border-color: rgba(233, 102, 49, 1);
                        }
                    }
                }
            }
            img {
                height: auto;
                width: auto;
                margin-left: auto;
            }
            span {
                position: relative;
                padding-right: 15px;
                margin-top: auto;
                font-size: inherit;
                line-height: inherit;
                font-weight: inherit;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    width: 6px;
                    height: 6px;
                    margin: auto;
                    border-top: 1px solid $primary;
                    border-right: 1px solid $primary;
                    transform: rotate(45deg);
                    box-sizing: border-box;
                }
            }
        }
    }

    //Cooperation Page
    &-cooperation {
        p {
            margin: 0 0 15px;
        }
        .v1 {
            &-img {
                padding: 30px;
            }
            &-fullscreen {
                margin-bottom: 40px;

                h1 {
                    position: relative;
                    padding: 0 0 20px;
                    margin: 0 0 40px;

                    &:before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 50%;
                        height: 1px;
                        background-color: #DA6D40;
                    }
                }
                li {
                    max-width: 317.5px;
                    flex: 25%;

                    @media screen and (max-width: 768px) {
                        max-width: none;
                    }
                }
            }
        }
        &--content {
            .v1 {
                &-row {
                    padding-bottom: 45px;
                }
                &-col {
                    margin-bottom: 15px;
                }
            }
        }
    }

    //Contacts page
    &-contacts {
        margin-bottom: 60px;

        ul {
            padding-left: 15px;
        }

        li {
            margin-bottom: 5px;
        }

        a {
            text-decoration: none;
            color: #000000;
        }

        iframe {
            width: 100%;
        }

        .v1 {
            &-col {
                &:first-of-type {
                    flex: 0;
                }
            }
        }

        &--content {
            margin-bottom: 15px;
        }
    }

    //Delivery Page
    &-delivery {
        &--types {
            .v1 {
                &-row {
                    padding-bottom: 15px;
                }
                &-col {
                    margin-bottom: 15px;
                }
            }
        }
        &--regions {
            margin-bottom: 80px;

            p {
                margin: 0 0 10px;
            }
            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 100%;
                max-height: 119px;
                margin: 0 -15px;

                @media screen and (max-width: 768px) {
                    max-height: 186px;
                }

                @media screen and (max-width: 512px) {
                    max-height: none;
                }
            }
            li {
                min-width: 256px;
                padding: 0 15px;
                box-sizing: border-box;
            }
        }
        &--content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            padding: 30px;
            border-radius: 8px;
            background: #FFFFFF;
            box-sizing: border-box;

            h2 {
                margin: 0 0 20px;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
            }
            ul {
                list-style: none;

                li {
                    padding: 0 0 10px;

                    &:last-of-type {
                        padding: 0;
                    }
                }

                p {
                    margin: 0 0 10px;
                }

                img {
                    display: block;
                }

                span {
                    color: rgba(0, 0, 0, 0.5);
                }
            }

            .delivery {
                &-content {
                    &__logo {
                        width: auto;
                        height: 27px;
                        margin: 0 0 20px;
                    }

                }
            }
        }
    }

    //Blog Page
    &-blogs {
        a {
            text-decoration: none;
            font-weight: 700;
            font-size: 18px;
            line-height: 26px;
            color: #333333;
        }
        p {
            margin: 0;
            font-weight: inherit;
            font-size: inherit;
            line-height: inherit;
            color: inherit;
        }

        img {
            width: 100%;
            height: auto;
            max-height: 200px;
            margin: 0 auto;
            border-radius: 8px;
        }

        .v1 {
            &-title {
                margin: 30px 0 60px;
            }
        }
        .main-posts {
            &.post-grid {
                margin: 0 -15px 50px;
            }
            .v1 {
                &-col {
                    flex-direction: column;
                    max-width: 410px;
                    flex: calc(100% / 3);
                    padding-bottom: 30px;
                }
            }
        }
        .post-stats {
            margin: 0 0 16px;
            text-align: center;
        }
    }

    //Single Blog Page
    &-blog {
        figure {
            margin-bottom: 30px;
        }
        .v1 {
            &-container {
                max-width: 768px;
            }
            &-col {
                flex-direction: column;
            }
            &-title {
                margin: 30px 0;
            }
        }

        &__content {
            margin-bottom: 15px;

            img {
                width: 100%;
                height: auto;

                border-radius: 8px;
            }
            p {
                color: #333333;
            }
        }

        &__card {
            img {
                width: 100%;
                height: auto;
                margin-bottom: 15px;
                border-radius: 8px;
            }
            h2 {
                margin: 0 0 6px;
                line-height: 26px;
                color: #333333;
            }
            p {
                margin: 0;
                color: #000000;
            }

            .v1 {
                &-col {
                    margin-bottom: 30px;
                }
            }
        }

        &__text {
            margin-bottom: 45px;

            h2 {
                margin: 0 0 15px;
                font-size: 22px;
                line-height: 26px;
                color: #333333;
            }
            p {
                margin: 0 0 15px;
                color: #000000;
            }

            ul {
                padding-left: 15px;
            }
            li {
                margin-bottom: 15px;
            }

            .v1 {
                &-col {
                    flex: 100%;
                }
            }
        }

        &__end {
            padding-top: 20px;
            border-top: 1px solid rgba(0, 0, 0, 0.2);
            margin-bottom: 80px;

            p {
                margin: 0 0 10px;
                color: #000000;
            }
            span {
                font-style: italic;
                font-weight: 700;
            }
            img {
                width: auto;
                height: 71px;
                margin-right: auto;
            }
        }
    }

    //BLOG2
    .blog__checkbox-box {
        background-color: white;
        padding: 20px;
        margin-top: 30px;
        border-radius: 8px;
        max-width: 1140px;
        height: 204px;
        position: relative;
        @media screen and (max-width: 500px) {
            height: 100%;
        }
        @media screen and (max-width: 293px) {
            padding: 0;
            height: 315px;
            width: 100%;
        }
    }
    .blog__checkbox {
        border: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        @media screen and (max-width: 293px) {
            width: 100%;
        }
    }
    .checkbox__content {
        width: 380px;
        height: 30px;
        @media screen and (max-width: 855px) {
            width: 200px;
        }
        @media screen and (max-width: 293px) {
            width: 100%;
        }

        input[type=checkbox] {
            border: none;
        }
        input[type=submit] {
            position: absolute;
            border: none;
            background-color: white;
            padding: 0;
            border-bottom:1px solid rgba(0, 0, 0, 0.247);
            right: 20px;
            bottom: 20px;
        }
    }
    .blog2__nav-box {
        display: flex;
        justify-content: center;
        align-content:center;

        .page__number {
            margin-right: 10px;
            width: 40px;
            height: 40px;
            text-align: center;
            position: relative;
            background-color: #EAF0FE;
            border-radius: 8px;

            p {
                margin: 0;
                font-weight: 700;
                font-size: 18px;
                position: absolute;
                top:50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%)
            }
        }
        .blog__page_active {
            background-color: $primary;

            p {
                color: white;
            }
        }
    }
}
