// @import './helpers/reset.scss';
@import './general/base.scss';
@import './general/typography.scss';
@import './general/variable.scss';
@import './components/button.scss';

.v1 {
    &-about {
        .v1 {
            &-row {
                justify-content: space-between;
                align-items: flex-start;
                padding-bottom: 15px;
            }
            &-col {
                flex-direction: column;
                margin-bottom: 45px;

                @media screen and (max-width: 768px) {
                    margin-bottom: 15px;
                }
            }
            &-img {
                span {
                    position: absolute;
                    top: 5%;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    text-align: center;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 44px;
                    color: #1F56CE;

                    @media screen and (max-width: 1024px) {
                        font-size: 30px;
                        line-height: 40px;
                    }

                    @media screen and (max-width: 768px) {
                        font-size: 20px;
                        line-height: 24px;
                    }

                    @media screen and (max-width: 682px) {
                        font-size: 36px;
                        line-height: 44px;
                    }

                    @media screen and (max-width: 560px) {
                        font-size: 30px;
                        line-height: 40px;
                    }

                    @media screen and (max-width: 414px) {
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
            }
        }
        //our_team

        .our__team {
            p {
                font-weight: 400;
                margin-top: 0;
            }

            h2 {
                margin: 0 0 9px;
            }

            ul {
                margin: 0;
                padding-left: 20px;
                list-style: none;
            }

            li:before {
                content: "\2022";
                color: $primary;
                font-weight: bold;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
            }

            &_description {
                &-title {
                    margin-bottom: 27px;
                }
                &-list {
                    padding: 20px;
                    background-color: #EEEEEE;
                    border-radius: 8px;
                }
            }
        }

        //our__job
        .our__job {
            &_about {
                p {
                    margin: 0;
                    font-weight: 500;
                    color: white;
                }

                h2 {
                    padding-bottom: 11px;
                    margin: 0 0 11px 0;
                    color: white;

                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29px;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                }

                li {
                    position: relative;
                    display: flex;
                    align-items: center;
                    min-height: 30px;
                    padding-left: 40px;
                    margin-bottom: 15px;

                    span {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        margin: auto;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: white;
                        text-align: center;
                        line-height: 30px;
                        font-size: 18px;
                        font-weight: 700;
                        color: $primary;
                    }
                }

                &--content {
                    width: 100%;
                    padding: 30px;
                    border-radius: 8px;
                    background-color: $primary;
                    box-sizing: border-box;
                }
            }

            &_description {
                h2 {
                    margin: 0 0 7px;
                }
                p {
                    margin: 0;
                }

                .light_line {
                    width: 50%;
                    margin: 24px 0;
                }

                &-footer {
                    p {
                        margin-bottom: 16px;
                    }
                }
            }
        }
    }
    //documentation
    &-documentation,
    &-price {
        padding-bottom: 45px;

        @media screen and (max-width: 768px) {
            padding-bottom: 15px;
        }
        h1 {
            margin: 0 0 24px;
        }
        h2 {
            margin: 0;
        }
        p {
            margin: 0 0 33px;
        }
    }
    //main_job
    &-job {
        h1 {
            margin-bottom: 38px;
        }
        p {
            text-align: left;
            margin: 0 0 15px;
        }
        a {
            @media screen and (max-width: 768px) {
                display: flex;
            }
        }
        .v1 {
            &-row {
                justify-content: space-between;
                align-items: flex-start;
                padding-bottom: 45px;

                @media screen and (max-width: 768px) {
                    flex-direction: column-reverse;
                    padding-bottom: 15px;
                }
            }
            &-col {
                flex-direction: column;
                align-items: center;
                min-width: 460px;
                margin-bottom: 15px;

                @media screen and (max-width: 768px) {
                    min-width: 290px;
                }
            }
            &-img {
                padding: 20px;
                background-color: #EAF0FE;

                img {
                    display: block;
                    max-width: 402px;
                    margin: 0 auto;
                }
            }
        }
        .description {
            &-title {
                width: 100%;
                margin-bottom: 20px;
            }
            &-list {
                width: 100%;
                padding: 20px;
                background-color: #EEEEEE;
                border-radius: 8px;
                box-sizing: border-box;

                ul {
                    padding-left: 20px;
                }
            }
        }
    }
    //brands
    &-brands {
        h1 {
            margin-bottom: 22px;
        }

        &--list {
            position: relative;
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 0;
            box-sizing: border-box;
        }

        li {
            display: flex !important;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 15px;
            background-color: #FFFFFF;
            box-sizing: border-box;

            img {
                display: flex;
                width: 100%;
                height: auto;
                margin: auto;
            }
        }

        .slick {
            &-list {
                display: flex;
                padding: 0;
                margin: 0;
                overflow: hidden;
                box-sizing: border-box;
                border: 1px solid #C4C4C4;
                border-radius: 8px;
            }
            &-track {
                position: relative;
                top: 0;
                left: 0;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                box-sizing: border-box;
            }
            &-slide {
                div {
                    height: 100%;
                    max-height: 50%;

                    &:first-child {
                        li {
                            border-bottom: 1px solid #C4C4C4;
                            border-right: 1px solid #C4C4C4;
                        }
                    }

                    &:last-child {
                        li {
                            border-right: 1px solid #C4C4C4;
                        }
                    }
                }
            }
            &-arrow {
                position: absolute;
                z-index: 1;
                top: 0;
                bottom: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 35px;
                height: 35px;
                margin: auto;
                border: 1px solid #C4C4C4;
                background: #FFFFFF;
                outline: none;
                box-shadow: none;
                box-sizing: border-box;
                cursor: pointer;
            }
            &-next {
                right: 0;
                border-radius: 8px 0 0 8px;
            }
            &-prev {
                left: 0;
                border-radius: 0 8px 8px 0;
            }
        }
    }

    &-policy {
        .v1 {
            &-col {
                flex-direction: column;
                margin-bottom: 40px;
            }
            &-title {
                margin-bottom: 36px;
            }
            &-list {
                &--dots {
                    li {
                        &:before {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}

//VACANCY

//header 

.vacancy__header-line  {
    width: 72px;
}
.vacancy__about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 37px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.247);
    @media screen and (max-width: 1000px) {
        flex-direction: column;
    }
    h2 {
        margin-right: 20px;
    }
    p {
        font-weight: 400;
        margin: 0 20px 20px 0;
    }
    img{
        margin-right: 40px;
        width: 579px;
        height: 437px;
        background-color: #EAF0FE;
        border-radius:8px;
        padding: 40px;
        @media screen and (max-width: 1000px) {
            display: block;
            width: 75%;
            height: auto;
            margin: 0 auto;
        }
    }
}
.vacancy__description {
    width: 100%;
}
.vacancy__description-line {
    width: 272px;
}

//guarantees

.guarantees {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1280px;
    height: 244px;
    background-color: $primary;
    @media screen and (max-width: 1065px) {
        height: auto;
    }

        h1 {
            color:white;
        }
}
.guarantees-line {
    width: 95px;
}
.guarantees__container {
    display: flex;
    margin-top: 20px;   
    @media screen and (max-width: 870px) {
        flex-direction: column;
        align-content: center;
    }
}
.guarantees__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 20px;
    @media screen and (max-width: 1035px) {
        flex-direction: column;
        align-items: center;
    }

    p {
        color: white;
    }

    img {
        padding-right: 20px;
        border-radius:8px;
    }
}

//find__vacantion

.find__vacantion-line {
    width: 99px;
}
.find__vacantion_content {
    border-top: 1px solid rgba(0, 0, 0, 0.247);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 20px;
    @media screen and (max-width: 870px) {
        display: block;
    }
}
.find__vacantion_content-left {
    width: 579px;
    height: 119px;
    background-color: #EEEEEE; 
    padding-left: 30px ;
    border-radius: 8px;
    @media screen and (max-width: 870px) {
        display: block;
        padding: 20px;
    }
    ul {
        padding-left: 20px;
    }

    li {
        color: $primary;
        list-style-type: disc;
        
            span {
            color: black;
            }
    }
}
.find__vacantion_content-right {
    width: 579px;
    height: 119px;
    margin-left: 20px;
    @media screen and (max-width: 870px) {
        display: block;
        padding: 20px;
        margin-left: 0;
    }

    p {
        margin: 0;
        font-weight: 500;
    }
}

//SERVICE

// header

.service__header-line  {
    width: 72px;
}
.service__header h2 {
    margin: 5px 0;
}
.service__about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 37px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.247);

    p {
        font-weight: 400;
        margin-top: 0;
    }
    img{
        margin-right: 40px;
        width: 579px;
        height: 437px;
        background-color: #EAF0FE;
        border-radius:8px;
    }
}
.service__description-list {
    background-color: $line;
    padding: 20px;
    border-radius: 8px;
    color: white;

    h2 {
        color: white;
    }
    ol {
        margin: 0;
        padding: 10px 20px ;

        li {
            font-weight: 400;
            font-size: 14px;
        }
    }
}

//purchase

.purchase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1280px;
    height: 244px;
    background-color: $primary;

        h1 {
            color:white;
        }
}
.purchase-line {
    width: 95px;
}
.purchase__container {
    display: flex;
    margin-top: 20px;   
}
.purchase__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 20px 0 20px;

    p {
        color: white;
    }

    img {
        padding-right: 20px;
        border-radius:8px;
    }
}

//warranty__repair

.warranty__repair {

    h1 {
    padding-top: 20px;
    }
    p {
        margin: 0;
    }
}
.warranty__repair-line {
    width: 72px;
}
.warranty__repair_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 37px;
}

.warranty__repair_about {
    border-radius: 8px;
    margin-right: 40px;

    article {
        position: relative;
        margin-top: 10px;
    }
    span {
        position: absolute;
        line-height: 30px;
        width: 30px;
        height: 30px;
        background-color: $primary;
        text-align: center;
        border-radius: 50%;
        font-size: 14px;
        color: white;
    }
    p {
        font-weight: 500;
        margin-left: 40px;
    }
}
 
.warranty__repair_content-description {
    border-top: 1px solid rgba(0, 0, 0, 0.247);
    padding-top: 20px;

    img {
        width: 579px;
        height: 437px;
        background-color: #EAF0FE;
        border-radius:8px;
        padding-right: 20px;
    }
}

//SERVICES

.services__line {
    width: 99px;
}
.services__content {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.247);
    padding-top: 30px;
    @media screen and (max-width: 1255px) {
        flex-direction: column;
    }
}
.services__description {
    flex-basis: 50%;
    margin-right: 30px;
    
    p {
        margin: 0;
    }
    ul {
        padding-left: 20px;
    }
    li {
        color: $primary;
        list-style-type: disc;
        margin-top: 10px;
        
            span {
            color: black;
            }
    }
}
.services__tabs {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 1255px) {
        justify-content: center;
    }

    .services__tab {
        margin-right: 20px;
        position: relative;

        p {
            position: absolute;
            top: 0;
            left: 10px;
            font-weight: 700;
            font-size: 30px;
            color: #333333;
            opacity: 0.2;
        }
        h2 {
            position: absolute;
            bottom: 10px;
            left: 15px;
        }
    }
}

//SERVICES2

.services2__line {
    width: 99px;
}
.services2__content {
    border-top: 1px solid rgba(0, 0, 0, 0.247);
    padding-top: 30px;
}

// COOPERATION

.cooperation__header-line  {
    width: 72px;
}
.cooperation__about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 37px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.247);
    @media screen and (max-width: 880px) {
        flex-direction: column;
        align-items: center;
    }
    h2 {
        @media screen and (max-width: 880px) {
            text-align: center;
        }
    }
    p {
        font-weight: 400;
        margin-top: 0;
        @media screen and (max-width: 880px) {
            text-align: center;
        }
    }
    img{
        margin-right: 40px;
        width: 579px;
        height: 437px;
        background-color: #EAF0FE;
        border-radius:8px;
        padding: 40px;
        @media screen and (max-width: 880px) {
            width: auto;
            margin: 0 auto;
            height: auto;
        }
    }
}
.cooperation__description-line {
    width: 272px;
}


//recommend

.recommend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1280px;
    height: 244px;
    background-color: $primary;
    @media screen and (max-width: 940px) {
        height: auto;
    }

        h1 {
            color:white;
            margin: 20px 20px;
            text-align: center;
        }
}
.recommend-line {
    width: 95px;
}
.recommend__container {
    display: flex;
    margin-top: 20px;   
    @media screen and (max-width: 550px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}
.recommend__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 20px 0 20px;
    @media screen and (max-width: 940px) {
        flex-direction: column;
        align-items: center;
    }

    p {
        color: white;
    }

    img {
        padding-right: 20px;
        border-radius:8px;
    }
}

//forms
.offer__cooperation-form {
    padding-top: 20px;
}
form {
        width: 639px;
        margin: 0 auto;
        border: 1px solid rgba(0, 0, 0, 0.247);
        border-radius: 8px;
        margin-top: 30px;
        padding: 10px 20px;
        @media screen and (max-width: 7680px) {
            width: 75%;

        }
}

.form__change_mail {
    border-top: 10px solid rgba(31, 86, 206, 1);
    position: relative;
    padding-bottom: 40px;

    h1 {
        font-weight: 500;
        margin-top: 0;
    }
    .mail {
        position: absolute;
        left: 55px;
        bottom: 52px;
        font-weight: 700;
        font-size: 14px;
        color: rgba(96, 99, 103, 1);
    }
    p {
        position: absolute;
        left: 55px;
        bottom: 20px;
        color: $primary;
    }
    span {
        position: absolute;
        color: $line;
        top: 10px;
        right: -60px;
    }   
}
.form__answear {
    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        margin-top: 5px;
    }
    span {
        color: $line;
    }
    input {
        margin: 0;
    }
}
.form__question p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-top: 5px;

span {
    color: $line;
}
}
input[type="text"] {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.247);
    width: 294px;
    background-color: #E5E5E5;
    @media screen and (max-width: 430px) {
        background-color: white;
        width: 75%;
    }
}

//CONTACTS

.contacts h1 {
    padding-top: 20px;
}
.contacts-line {
    width: 72px;
}
.contacts_content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 37px;
    @media screen and (max-width: 1125px) {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}
.contacts_content-description {
    border-top: 1px solid rgba(0, 0, 0, 0.247);
    padding-top: 20px;

    img {
        margin: 20px 0 0 40px;
        width: 890px;
        height: 452px;
        border-radius:8px;
        @media screen and (max-width: 950px) {
            width: 100%;
            height: auto;
            margin: 0;
        }
    }
}
.contacts_content-description {
    padding: 0;
    ul {
        padding-left: 25px;
    }
}

//DELIVERY

.delivery__line {
    width: 99px;
}
.delivery__box {
    margin: 0 -10px;
}
.delivery__contents-tabs {
    display: flex;
    border-top: 1px solid rgba(226, 226, 226, 1);
    @media screen and (max-width: 980px) {
        flex-wrap: wrap;
        justify-content: center;
    }
    
}
.delivery__content-tab {
    width: 380px;
    height: 274px;
    background-color: white;
    margin: 20px 20px 10px 0;
    padding: 20px 20px;
    border-radius: 8px;
}
.delivery__contents-regions {
    display: flex;
    @media screen and (max-width: 540px) {
        flex-wrap: wrap;
        justify-content: center;
    }
}
.delivery__content-region {
    width: 380px;
    height: 274px;
    margin: 20px 20px 10px 0;
    padding: 20px;
    border-radius: 8px;
    &:nth-last-child(-n+2) {
        @media screen and (max-width: 540px) {
            padding: 0;
        }
    }
    @media screen and (max-width: 540px) {
        width: 75%;
        height: 100%;
        margin: 0;
        padding: 20px 0 0 0;
    }
    p {
        @media screen and (max-width: 540px) {
            text-align: center;
        }
    }
    span p {
        margin-top: -15px;
        @media screen and (max-width: 540px) {
            text-align: center;
        }
    }
}
.delivery__region {
    background-color: #E5E5E5;
    height: auto;
}

// payment

.payment__header {
    padding-top: 0;
    h1 {
        margin-top: 0;
    }
}
.payment__line {
    width: 99px;
}
.payment__contents {
    border-top: 1px solid rgba(226, 226, 226, 1);
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 1239px) {
        justify-content: center;
    }
    img {
        @media screen and (max-width: 640px) {
            width: 100%;
            height: auto;
            
        }
    }
}
.payment__content {
    margin: 0 10px 10px 0;
    position: relative;

    h2 {
        position: absolute;
        height: auto;
        left: 23%;
        right: 23%;
        top: 5px;
        z-index: 1;
    }
}
.payment__content2 {
    margin: 0 10px 10px 0;
    position: relative;

    h2 {
        position: absolute;
        left: 15%;
        right: 15%;
        top: 5px;
        z-index: 1;
    }
}

//BLOG
.blog__line {
    width: 99px;
}
.blog__box {
    border-top: 1px solid rgba(0, 0, 0, 0.247);
}
.blog__contents {
    display: flex;
    flex-wrap: wrap;
    margin: 20px -10px;
    @media screen and (max-width: 1235px) {
        justify-content: space-around;
    }
}
.blog__content {
    margin: 10px;
    @media screen and (max-width: 400px) {
        width: 100%;
    }

    img {
        width: 380px;
        height: 200px;
        @media screen and (max-width: 400px) {
            width: 100%;
            height: auto;
        }
    }
    p {
        width: 380px;
        @media screen and (max-width: 400px) {
            width: 100%;
        }
    }
}

//BLOG2

.blog__checkbox-box {
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 8px;
    max-width: 1140px;
    height: 204px;
    position: relative;
    @media screen and (max-width: 500px) {
        height: 100%;
    }
    @media screen and (max-width: 293px) {
        padding: 0;
        height: 315px;
        width: 100%;
    }
}
.blog__checkbox {
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    @media screen and (max-width: 293px) {
        width: 100%;
    }
}
.checkbox__content {
    width: 380px;
    height: 30px;
    @media screen and (max-width: 855px) {
        width: 200px;
    }
    @media screen and (max-width: 293px) {
        width: 100%;
    }

    input[type=checkbox] {
        border: none;
    }
    input[type=submit] {
        position: absolute;
        border: none;
        background-color: white;
        padding: 0;
        border-bottom:1px solid rgba(0, 0, 0, 0.247);
        right: 20px;
        bottom: 20px;
    }
}
.blog2__nav-box {
    display: flex;
    justify-content: center;
    align-content:center;
 
    .page__number {
        margin-right: 10px;
        width: 40px;
        height: 40px;
        text-align: center;
        position: relative;
        background-color: #EAF0FE;
        border-radius: 8px;
        
        p {
            margin: 0;
            font-weight: 700;
            font-size: 18px;
            position: absolute;
            top:50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
    }
    .blog__page_active {
        background-color: $primary;
    
        p {
            color: white;
        }
    }
}

//AIRCONDITION

.aircondition__box {
    margin: 0 auto;
    width: 788px;
    @media screen and (max-width: 860px) {
        width: 100%;
    }
}
.aircondition__box_img img{
    @media screen and (max-width: 860px) {
        width: 100%;
    }
}
.aircondition__box_contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;
    @media screen and (max-width: 860px) {
        justify-content: center;
    }
}
.aircondition__box_content {
    width: 380px;
    margin: 10px;
    img {
        @media screen and (max-width: 410px) {
            width: 100%;
        }
    }
    h2 {
        color: black;
        font-size: 18px;
    }
}
.aircondition__box_about h2 {
    color: black;
    font-size: 22px;
}
.aircondition__box_plus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.247);

    h2 {
        color: black;
        font-size: 22px;
    }
}
.aircondition__box_footer span {
    font-style: italic;
    font-weight: 700;
}
