@import './variable.scss';

.container {
    max-width: 1214px;
    margin: 0 auto;
    padding: 69px 20px 49px 46px;
    background: #E5E5E5;
    @media screen and (max-width: 1280px){
        padding: 20px;
    }
    @media screen and (max-width: 380px) {
        background-color: white;
    }
}



